<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">

    <import resource="classpath:applicationContext-conf-beans.xml"/>
    <import resource="classpath:quartz.xml"/>

    <context:annotation-config/>

    <mongo:db-factory id="mongoDbFactory"                      
                      host="${mongo.url}" 
                      port="${mongo.port}"
                      dbname="${mongo.db}"
                      username="${mongo.dbuser}" password="${mongo.dbuser.password}"/>
    
    

    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
    </bean>

    <bean id="newsDAO" class="com.snn.dao.NewsDAOImpl">
        <constructor-arg name="mongoOps" ref="mongoTemplate"/>
    </bean>
    

    
    <!--service-->
    <bean id="newsService" class="com.snn.service.NewsServiceImpl"></bean>

</beans>